<p>login works!</p>
<form (submit)="LoginUser($event)">
    <p>login:<input type="text" id="Username" value="Username"></p>
    <p>password : <input type="password" id="Password" value="Password"></p>
    <input type="submit" value="submit">
    <!--
        <p>E-mail : <input type="email" [(ngModel)]="email" value="bv. jan.jansens@gmail.com"></p>
     -->

</form>

<table class="table">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>0</td>
            <td>kevin123</td>
            <td>john@example.com</td>
        </tr>
    </tbody>
</table>