<ul>
    <li>
        <a routerLink='/home' class="nav-link waves-light">Home</a>
    </li>
    <!-- voor knoppen routerlinkActive = 'ui-button-succes   -->
    <li routerLinkActive='active'>
        <a routerLink='/films' class="nav-link waves-light disabled">Movies</a>
    </li>
    <li routerlinkActive='active'>
        <a routerLink='/series' class="nav-link waves-light disabled">series</a>
    </li>
    <li routerlinkActive='active'>
        <a routerLink='/acteurs' class="nav-link waves-light disabled">Acterus</a>
    </li>
</ul>

<router-outlet></router-outlet>