<!-- voor knoppen routerlinkActive = 'ui-button-succes   -->

<nav class="nav">
    <img src='Knipsel.PNG' width="100px">
    <a class="nav-item" routerlinkActive="active" routerLink='/films'>Movies</a>
    <a class="nav-item" routerlinkActive="active" routerLink='/series'>series</a>
    <a class="nav-item" routerlinkActive="active" routerLink='/acteurs'>Acterus</a>
    <a class="nav-item" routerlinkActive="active" routerLink='/login'>Login</a>
    <img width="50px" height="25px" src="https://github.githubassets.com/images/modules/open_graph/github-mark.png">
    <span class="nav-indicator "></span>
</nav>

<router-outlet></router-outlet>