<!-- voor knoppen routerlinkActive = 'ui-button-succes   -->

<nav class="nav">
    <img class="logo" src="assets/images/knipsel.png" width="100px" height="55px">
    <a class="nav-item" routerlinkActive="active" routerLink='/films'>Movies</a>
    <a class="nav-item" routerlinkActive="active" routerLink='/series'>series</a>
    <a class="nav-item" routerlinkActive="active" routerLink='/acteurs'>Acterus</a>
    <a class="nav-item" routerlinkActive="active" routerLink='/login'>Login</a>
    <a class="nav-item" href="https://github.com/BjornJongenelen/movieAPI"><img width="50px" class="github" height="25px" src="https://github.githubassets.com/images/modules/open_graph/github-mark.png"></a>
    <span class="nav-indicator "></span>
</nav>

<router-outlet></router-outlet>